<<<<<<< HEAD
#bodyMain{
	background-image: url("../images/gradient-h.png");
	background-repeat: repeat-x;
	background-color:#181818;
	font-family: 'Oswald', sans-serif;
	color: #AAA;
	margin: 0px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.subtitle{
	font-family: 'Dosis', sans-serif;
}

.h1,.h1off{
	font-size: 36px;
}

.h3{
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	font-family: "Dosis",sans-serif;
}

#headWrap{
	padding-top: 12px;
}

#whole{
	width: 100%;
	height: 100%;
	opacity:1;
	margin-top: -25px;
}

#wholeInner{
	padding:0px 10px;
}

#warning{
	width: 300px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 55%;
	margin: -100px 0 0 -150px;
	text-align: center;
	z-index: 999;
	display:none;
}

#warningHead{
	font-size: 35px;
}

#warningDesc{
	font-size: 24px;
}

#epTitle{
	color:#FF5C93;
	font-size: 42px;
	padding-left: 12px;
	min-width: 190px;
}

#epSubtitle{
	font-size: 18px;
	margin-top: -12px;
	margin-left: 1px;
	color: #727272;
	text-transform:uppercase;
}

.switchRow{
	background-image:url("../images/gradient.png");
	background-repeat: no-repeat;
}

.switchState{
	width:10px;
	-webkit-animation: none;
}

.switchStateColor{
	background: #242424;
	width: 100%;
	height: 62px;
	margin-top: 2px;
	-webkit-animation: none;
}

.switchTitle{
	padding-left: 10px;
	font-size: 20px;
	display:inline-block;
	line-height: 62px;
	vertical-align:middle;
	background-color: #181818;
	height: 62px;
	margin-top: 2px;
	width: 100%;
	-webkit-animation: none;
}

.typeTitle{
	height: 40px;
	font-size: 18px;
	color: #666666;
}

#footer{
	height: 64px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin-left: -10px;
	font-family: "Dosis", sans-serif;
	background-color: #0D0D0D;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 1);
}

#footerLeft{
	padding:10px;
	text-align: left;
	font-size: 14px;
	opacity: 0.5;
}

#footerRight{
	padding:10px;
	text-align: right;
	font-size: 14px;
	opacity: 0.5;
}

.footerStats,.footerLinks{
	display:inline-block;
        color: #E4E4E4;
}


#time{
	display:inline-block;
	color: #E4E4E4;
}

#timeUpdate{
	display:inline-block;
}

#notifyBar{
	height: 64px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin-left: -10px;
	background-color: #999999;
	color:#000000;
	z-index: 999;
	display:none;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow:    0px 0px 20px 0px rgba(255, 255, 255, 0.5);
        box-shadow:         0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}

#notifyInner{
	padding:10px;
}

#footerPush{
	height:64px;
	margin-bottom:10px;
}

#notifyIcon{
	display:inline-block;
	width:64px;
	padding-left: 15px;
	opacity:0.5;
}

.addButtons{
	height:80px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left: auto;
	margin-right: auto;
}

.sectionTitle{
	margin-bottom: 5px;
}

.settingRow{
}

.settingLeft{
	text-align: left;
	width: 50%;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

.settingRight{
	text-align: left;
	padding-bottom: 10px;
}

.settingRightSubmit{
	text-align: right;
	width: 50%;
	padding-left: 10px;
	padding-bottom: 10px;
}

.settingText{
	text-transform:uppercase;
	border: none;
	padding: 10px;
	background-color: #080808;
	color: #aaa;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	width: 100%;
	height: 45px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
/*  COLUMN SETUP  */
.colAlt {
	display: block;
	float:left;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span2 {
	width: 100%;
	background-color: #242424;
}
.span1 {
	width: 49.2%;
	background-color: #242424;
}
.span1conf {
	width: 49.2%;
	background-color: #242424;
	height: 150px;
	margin-bottom: 5px;
}
.span1conf2 {
	width: 49.2%;
	margin-bottom: 10px;
}
.span1cred {
	width: 49.2%;
	height: 30px;
	margin-bottom: -7px;
}

.creditLeft{
	font-size:20px;
	text-align: center;
	color:#555555;
	font-family:'Dosis',sans-serif;
	font-weight:bolder;
}

.creditRight{
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span2, .span1, .span1conf, .span1cred, .span1conf2 { width: 100%; }
}

.freqContainer{
	width:50%;
	padding: 5px;
}

.freqLeft,.freqRight{
	background-color: #242424;
	height: 35px;
	text-align: center;
	padding-top: 10px;
}

.colHeader{
	text-align:center;
	padding: 5px;
}

.colContent{
	padding: 5px;
	background-color:#080808;
}

.button{
	border: none;
	background-color: #666666;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

#infoON,#infoOFF{
	margin-top:5px;
	padding:5px;
	font-family: "Dosis",sans-serif;
}

#codeON,#codeOFF{
	height: 110px;
	overflow: hidden;
	font-size: 12px;
	word-wrap: break-word;
	padding-bottom: 10px;
}

#iframeON,#iframeOFF{
	width: 98%;
	border:none;
	height: 110px;
}

#gotitON,#gotitOFF{
	text-align: center;
	color: #242424;
	font-size: 24px;
}

.editMenu{
	margin-top: -64px;
	display:none;
}

.editRow{
	height:64px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.editPiece{
	width: 33%;
	text-align:center;
	font-family: 'Dosis',sans-serif;
	font-size: 20px;
}

#confBack{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	padding-bottom: 10px;
}

#confSubtitle{
	font-size: 30px;
	padding-bottom: 0px;
}

.confIcon{
	text-align: center;
	font-size: 24px;
}

#confConfirm,#eventAddConfirm,#actionAddConfirm{
	background-color: rgba(255, 242, 150, 0.3);
	color: #FFE374;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #FFE9B1;
	font-family: 'Dosis',sans-serif;
	display:none;
}

#confConfirmWrap,#eventConfirmWrap,#actionConfirmWrap{
	margin-bottom: 5px;
}

#homeIcon{
	width: 32px;
	height: 32px;
	opacity: 0.25;
}

.linkRow{
	background-color: #080808;
	padding: 9px;
	font-size: 20px;
	color: #ff5c93;
}

.color{
	border: none;
	padding: 10px;
	font-family: Dosis, sans-serif;
	font-size: 20px;
	width: 100%;

	background-color: rgb(0, 255, 190);
	background-image: url("../images/colorGrad.png");
	background-position: right center;
	background-size: 100% 100%;
}
	
.settingInlineNameWrap{
	margin-bottom:10px;
}
.settingInlineName{	
	position: relative;
	left: 0px;
	top: 0px;
	text-align: right;
	margin-top: -35px;
	padding-right: 10px;
	color: #AAA;
	pointer-events: none;
	font-size: 16px;
}

#bannerWrap{
	margin-bottom: 5px;
}

#bannerInner{
	background-color: rgba(255, 242, 150, 0.3);
	color: #FFE374;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #FFE9B1;
	font-family: 'Dosis',sans-serif;
}

#bannerInner a{
	color:#ffffff;
}

.actionRow{
	height: 64px;
	background-color: #080808;
	font-size: 24px;
}

.actionRight{
	height: 34px;
	padding-right: 20px;
	background-color: #080808;
	text-align: right;
}

.actionLeft{
	padding-left: 20px;
	color: #666666;
	height: 34px;
}

.actionControl{
	height: 64px;
	font-size: 20px;
	color: #ff5c93;
	background-color: #242424;
}

.action{
	padding-left: 15px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   #444444;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444444;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444444;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #444444;
}

.spacer{
	height: 10px;
=======
#body{background-color:#242424;font-family: 'Oswald', sans-serif;color:#cccccc;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;}
#logo{width:64px;height:64px;margin-right:10px;}
#creditRow{vertical-align: top;}
#creditTitle{font-size:24px;text-align: right;padding-right: 10px;color: #888;width: 50%;}
#creditName{font-size:24px;width: 50%;}
#horizontalSpace{width:0px;}
#horizontalSpaceConfig{width:5px;background-color:#181818;}
#horizontalSpaceHelp{width:50px;font-size: 30px;text-align: center;padding-right:0px;color:#666;}
#verticalSpace{height:5px}
#headerRow{height: 64px;font-size: 42px;margin-top:10px;white-space: nowrap;}
#headerCell{padding-top:10px;vertical-align: top;padding-left: 10px;}
#settingsBtn{width: 64px;height:64px;background-image: url("../images/settings.png");background-size: 32px 32px;background-repeat:no-repeat;background-position:center;opacity: 0.5;}
#powerBtn{width: 64px;height: 64px;cursor: pointer;}
#settingRow{background-color: #424242;color:#ffffff;height:32px}
#settingHeader{padding:10px;background-color:#181818;font-size: 20px;color:#ffffff;}
#settingName{padding: 10px;font-size:20px}
.settingValue{background-color: #2E2E2E;width: 120px;padding: 10px;-webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.2);-moz-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.2);box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.2);}
#setText{height: 100%;color:#cccccc;font-family: 'Oswald', sans-serif;font-size: 20px;background:none;border: none;}
#netDrop{height: 100%;color:#cccccc;font-family: 'Oswald', sans-serif;font-size: 20px;background:none;border: none;}
#applianceRow{background-color: #424242;color:#ffffff;}
#applianceName{padding-left: 20px;font-size: 20px;-webkit-box-shadow: inset 0px 0px 23px 0px rgba(0, 0, 0, 0.25); -moz-box-shadow: inset 0px 0px 23px 0px rgba(0, 0, 0, 0.25); box-shadow: inset 0px 0px 23px 0px rgba(0, 0, 0, 0.25);}
#footer{font-size: 11PX;text-align: center;padding: 10px;background-color: #181818;}
.greenBack,.redBack,.powerIcon{width: 64px;height: 64px;pointer-events:none;}
.powerIcon{z-index:2;}
#alert{background-color:#2E2E2E;color: #ccc;padding: 20px;font-size: 24px;margin-top: 0px;margin-bottom: 10px;display:none;border: 1px solid #757575;}
.slider {overflow-y: hidden;max-height: 500px;transition-property: all;transition-duration: .5s;transition-timing-function: cubic-bezier(0, 1, 0.5, 1);}
.slider.closed {max-height: 0;}
#linkButton{background-color: #101010;font-size: 20px;padding: 10px;cursor:pointer;}
a{text-decoration:none;}
#wstatus{display:inline-block;}
#cstatus{display:inline-block;}
#sstatus{display:inline-block;}
.shade{position: absolute;top: 0px;bottom: 0px;width: 100%;background-color:#000;opacity:0.5;z-index:1;display:none;}
#updating{z-index: 2; position: relative;margin: -15px;}
::-webkit-input-placeholder {color:#444;}
::-moz-placeholder {color:#444;opacity: 1;}
:-ms-input-placeholder {color:#444;}
.color{text-align: center;}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	margin: 0 5px -60px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
	height: 40px; /* '.push' must be the same height as 'footer' */
}
#footerSpace{height:15px;}
#headerSpace{height:10px;}
#notification{-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);padding: 20px;background-color: #111111;}
#actionName{padding-left: 20px;height: 64px;background-color: #181818;font-size: 24px;}
#deviceName{padding-left: 20px;height: 64px;background-color: #181818;font-size: 24px;}
#slaveName{padding-left: 20px;height: 64px;background-color: #181818;font-size: 24px;}
#trackName{padding-left: 20px;height: 100px;background-color: #181818;font-size: 24px;}

.slip-reordering {
}

.slip-swiping-container {
    overflow-x: hidden;
}

#slippylist{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.dropContainer {
font-size: 16px;
border-top: none;
background: #242424;
list-style-type: none;
padding: 10px;
margin: 0;
width: 50%;
z-index: 100;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
>>>>>>> ac0ef8c4385863d39a1ff6ca8ce1dd9d1df7f91c
}
